/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

.container-main {
  /*border: 1px solid red;*/
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.container-lyrics-greenscreen {
  /*border: 1px solid red;*/
  width: 1776px;
  height: 220px;
  padding: 20px 72px;  /* 4% of parent container width */
  background-color: green;
  color: white;
  /* default font-size: 68pt; line-height: 85pt; are set directly in the HTML element, id=lyricsDisplay */
}

.console {
  /*border: 1px solid blue;*/
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.controls-file-font {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  height: 96px;
  background-color: white;
}

.container-file-select {
  /*border: 1px solid red;*/
  width: 1130px;
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
}

.button-input-file {
  display: inline-block;
  border: 2px solid #545454;
  border-radius: 20px;
  background-color: #efefef;
  padding: 0px 10px;
  cursor: pointer;
}

.input-icon-med {
  width: 72px;
  height: 72px;
}

.filename {
  font-size: 36px;
  margin: 5px 32px;
}

.container-file-select p {
  margin: 24px 30px;
  font-family: sans-serif;
  font-size: 30pt;
}

input[type="file"] {
  display: none;
}

.controls-font-size {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-font-size {
  width: 72px;
  height: 72px;
  margin: 0px 0px 0px 20px;
  padding: 0px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.fontSizeContainer {
  width: 180px;
  text-align: right;
}

#fontSizeText {
  /*border: 1px solid blue;*/
  font-size: 60px;
  margin: 0px;
  padding: 5px;
}

.controls-lines {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.lines-amount {
  font-size: 60px;
  margin-left: 20px;
}

.lines-text {
  font-size: 60px;
  margin-left: 10px;
}

.input-number-large {
  font-size: 60px;
  width: 50px;
  margin: 10px 34px;
  padding: 0px 5px 0px 5px;
  text-align: right;
}



.lyrics-preview {
  /*border: 1px solid red;*/
  /*width: 40%;*/
  width: 870px;
  border-left: 2px solid black;
  /*height: 21em;*/
  /*height: 800px;*/
  padding: 20px 0px 0px 0px;
  /*font-size: 26pt;*/
  /*font-size: 39px; !* When green screen font size is 88px (default) this is 39px to match relative width, about 44% *!*/
  background-color: #cccccc;
}

.preview-table {
  /*padding: 0px 20px;*/
  /*padding: 0px 35px; !* 4% of parent container width *!*/
  border-spacing: 0px;
  display: block;
  /*height: 21em;*/
  /*height: 800px;*/
  /*height: 714px;*/
  /*height: 100px; !* Shorter than shortest lyricsEditor window which automatically adjusts to lyricsEditor height *!*/
  overflow-y: scroll;
  border: 1px solid black;
}

.preview-table td {
  width: 780px;
  /*padding: 0px 10px;*/
  padding: 0px 35px;
}

.controls {
  /*width: 9%;*/
  width: 180px;
  border-left: 2px solid black;
  /*margin-top: 10px;*/
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-flow: column wrap;
  /*justify-content: space-evenly;*/
  background-color: #cccccc;
}

/*.controls button {*/
/*  margin-right: 1em;*/
/*}*/

.container-buttons {
  /*border: 1px solid blue;*/
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.lyrics-editor {
  /*border: 1px solid red;*/
  /*width: 51%;*/
  width: 870px;
  background-color: #cccccc;
}

.button-med-lrg {
  /*margin: 0px 50px;*/
  padding: 20px;
  margin: 20px 10px 20px 0px;
  font-size: 32pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.container-lyrics-input {
  /*border: 1px solid blue;*/
  /*padding: 0px 15px;*/
  display: flex;
  flex-direction: column;
}

.form-lyrics-input {
  /*border: 1px solid blue;*/
  /*padding: 50px;*/
  display: flex;
  flex-direction: column;
}

.button-medium {
  /*margin: 0px 50px;*/
  padding: 20px;
  font-size: 24pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.button-large {
  margin: 20px 30px;
  padding: 16px;
  font-size: 32pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.button-icon-lrg {
  margin: 20px;
  font-size: 32pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.button-icon-med {
  width: 72px;
  height: 72px;
  margin: 0px 0px 0px 20px;
  padding: 10px;
  font-size: 16pt;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.label-large {
  font-family: sans-serif;
  font-size: 48px;
  margin: 34px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.textarea-large-in {
  font-family: 'Times New Roman', serif;
  /*font-size: 22pt;*/
  /*font-size: 30px; !* When green screen font size is 88px (default), preview is 39px (about 44%), this is 30px (about 34%) *!*/
  /*width: 31em;*/
  line-height: 1.4em; /* match line height of preview window, even though font is smaller (29px vs. 38px) */
  /*line-height: 2.13em; !* match line height of preview window, even though font is smaller (25px vs. 38px) *!*/
  padding: 0px 35px; /* 4% of parent container width */
  margin: 20px 0px;
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

