/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

.container-main {
  /*border: 1px solid red;*/
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.container-lyrics-greenscreen {
  /*border: 1px solid red;*/
  width: 1780px;
  /*width: 1880px;*/
  padding: 20px 70px;
  background-color: green;
  color: white;
  font-size: 68pt;
  line-height: 90pt;
}

.console {
  /*border: 1px solid blue;*/
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.lyrics-preview {
  /*border: 1px solid red;*/
  width: 40%;
  border-left: 2px solid black;
  height: 21em;
  padding: 20px 0px;
  font-size: 26pt;
  background-color: #cccccc;
}

.preview-table {
  padding: 0px 20px;
  border-spacing: 0px;
  display: block;
  height: 21em;
  overflow-y: scroll;
}

.preview-verse-column {
  width: 5%;
}

.preview-lyric-column {
  width: 95%;
}

.preview-table td {
  width: 21em;
  padding: 0px 10px;
}

.lyrics-preview-previous {
  padding: 0px 20px;
  height: 2.8em;
  /*background-color: #cccccc;*/
}

.lyrics-preview-showing {
  margin: 0px 10px;
  padding: 0px 10px;
  height: 2.8em;
  background-color: #ffffff;
}

.lyrics-preview-next {
  padding: 0px 20px;
  height: 14em;
  /*background-color: #cccccc;*/
  overflow: scroll;
}

.controls {
  width: 9%;
  border-left: 2px solid black;
  /*margin-top: 10px;*/
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-flow: column wrap;
  /*justify-content: space-evenly;*/
  background-color: #cccccc;
}

/*.controls button {*/
/*  margin-right: 1em;*/
/*}*/

.controls-lines {
  /*border: 1px solid red;*/
}

.controls-lines-buttons {
  display: flex;
  flex-flow: row nowrap;

  padding: 20px 0px 0px 5px;
}

.container-buttons {
  /*border: 1px solid blue;*/
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.lyrics-editor {
  /*border: 1px solid red;*/
  width: 51%;
  background-color: #cccccc;
}

.container-file-select {
  /*border: 1px solid red;*/
  padding: 10px;
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  box-sizing: border-box;
  /*background-color: buttonface;*/
  margin: 0em;
  /*padding-block: 1px;*/
  /*padding-inline: 6px;*/
  /*border-width: 2px;*/
  /*border-style: outset;*/
  /*border-color: buttonborder;*/
  /*border-radius: 20px;*/
  /*border-image: initial;*/
}

.button-input-file {
  display: inline-block;
  border: 2px solid #545454;
  border-radius: 20px;
  background-color: #efefef;
  font-family: sans-serif;
  font-size: 32pt;
  margin: 10px 30px 10px 5px;
  padding: 10px 26px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.filename {
  font-size: 24pt;
  margin: 28px 0px;
}

.container-file-select p {
  margin: 24px 30px;
  font-family: sans-serif;
  font-size: 30pt;
}

input[type="file"] {
  display: none;
}

.button-med-lrg {
  /*margin: 0px 50px;*/
  padding: 20px;
  margin: 20px 10px 20px 0px;
  font-size: 32pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.container-lyrics-input {
  /*border: 1px solid blue;*/
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}

.form-lyrics-input {
  /*border: 1px solid blue;*/
  /*padding: 50px;*/
  display: flex;
  flex-direction: column;
}

.button-medium {
  /*margin: 0px 50px;*/
  padding: 20px;
  font-size: 24pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.button-large {
  margin: 20px 30px;
  padding: 16px;
  font-size: 32pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.button-icon-lrg {
  margin: 20px;
  font-size: 32pt;
  border-radius: 20px;
  cursor: pointer;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.button-icon-med {
  margin: 8px;
  padding: 0px;
  font-size: 16pt;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  /*color: red;*/
  /*background-color: lightblue;*/
}

.label-large {
  font-family: sans-serif;
  font-size: 48px;
  margin: 34px;
}

.input-number-large {
  font-size: 56pt;
  width: 100px;
  margin: 10px 34px;
  padding: 0px 5px 0px 5px;
  text-align: right;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.textarea-large-in {
  font-size: 22pt;
  width: 31em;
  padding: 10px 10px 10px 20px;
}

.text-lyrics {
  font-family: Georgia, serif;
  font-size: 72pt;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

