# IDE
.idea
*.iml
*.iml
song-lyrics*.zip

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Dist directory (populated on npm run build)
dist/
